    .span1 {
        color: red; 
        font-size: large;
}
    p {
        background-color: lightblue;
        border: 2px solid black;
        color: black;
        padding: 10px;
        margin: 10px;
}
    .subrayado {
        text-decoration: underline;
}  
    .icon {
        width: auto;
        text-align: center;
        pointer-events: none;
        margin-right: 10px;
}

   .h1 {
        color: var(--color4);

    }

    :root {
        --color1: purple;
        --color2: blue;
        --color3: aqua;
        --color4: #FAFF00;
        --color5: blueviolet;
        --color6: aquamarine;
        --color7: indigo;
        --color8: lightseagreen;
        --color9: rgb(41, 0, 22);
        --color10: rgb(0, 119, 255);
        --color11: darkblue;
    }

    button {
        text-align: center;
        justify-content: center;
        display: block;
        margin: 0 auto;
        
    }

    button:hover {
        transform: translateX(1px);
        background-color: var(--color3);
        margin: auto;
        transition: background-color 0.4s;
    }

    body { background: none !important; font-family: Cardo; padding: 75px; }

    body.page-portada { background: linear-gradient(90deg, var(--color3), var(--color2)) !important; }
    body.page-registro { background: linear-gradient(90deg, var(--color1), var(--color2)) !important; }
    body.page-procesar-registro { background: linear-gradient(90deg, var(--color2), var(--color1)) !important; }
    body.page-login { background: linear-gradient(90deg, var(--color5), var(--color11)) !important; }
    body.page-index { background: linear-gradient(90deg, var(--color6), var(--color5)) !important; }
    body.page-crear { background: linear-gradient(90deg, var(--color8), var(--color1)) !important; }
    body.page-lista { background: linear-gradient(90deg, var(--color10), var(--color7)) !important; }
    body.page-editar { background: linear-gradient(90deg, var(--color2), var(--color9)) !important; }

    
    label {
        display: inline-block;
        width: 150px;
        margin-bottom: 10px;
    }

    .Contenedor1 {
        color: #ffffffff;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        border-radius: 8px;
        max-width: 888px;
        margin: auto;
    }

    .Contenedor1 h1 {
        text-align: center;
        margin-bottom: 20px;
        color: var(--color4);
    }

    a {
        color: var(--color3);
    }
    
    .page-lista table {
        width: 100%;
        border-collapse: collapse;
    }
    .page-lista th, .page-lista td {
        border: 1px solid #ffffff;
        padding: 8px 10px;
        text-align: left;
    }
    