.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.item1{
    color: white;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}