.span1 {
    color: red; 
    font-size: large;
}
p {
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.subrayado {
    text-decoration: underline;
}  
.icon {
    width: auto;
    text-align: center;
    pointer-events: none;
    margin-right: 10px;
}